body{
  background-color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}
h1  {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#home a {
  font-size: 18px;
  color: white;
}
#home {
  background-image: url("./images/the-flatiron-building.png");
}
h2  {
  font-size: 32px;
  font-weight: bold;
}
h3  {
  font-size: 23px
  font-weight: bold;
}
#designed {
  background-image: url("./images/the-flatiron-building.png");
  color: white;
}
#footer {
  font-size: 11px;
  color: white
  text-align: left;
  background: dimgray;
}
